 /* if we added a background picture instead of just a color */

 body {
    /* margin: 0;     
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    background-color: rgb(252, 241, 227);
  }

  .game {
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    align-items: center;
    margin: 150px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .rps {
    width: 150px;
    height: 150px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    background: transparent;
    transition: 0.3 ease;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.651);
  }

  #result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }

  #score {
    font-size: 18px;
    margin-top: 10px;
  }